
<div class="prodContent mb-4">
    <mat-card class="bg-dark text-white">
        <mat-card-header>
            <h2>
               {{getProd.pname}}
            </h2>
        </mat-card-header>
        <mat-divider class="bg-light"></mat-divider>
        <mat-card-content>
            <p class="mt-3">
               The product name is <strong> {{getProd.pname}} </strong> and product status is <strong> {{getProd.pstatus}} </strong>
               and Details : <strong> {{getProd.pdetails}} </strong>
            </p>
        </mat-card-content>
        <mat-divider class="bg-light"></mat-divider>
        <mat-card-actions>
            <span class="d-flex justify-content-between"> 
                <button class="btn-sm btn" mat-raised-button color="primary"
                (click)="onProdStatusChange(productStatusEnum.InProgress)">
                    In Progress
                </button>
                <button class="btn-sm btn" mat-raised-button color="primary"
                (click)="onProdStatusChange(productStatusEnum.Dispatched)">
                    Dispatched
                </button>
                <button class="btn-sm btn" mat-raised-button color="primary"
                (click)="onProdStatusChange(productStatusEnum.Delivered)">
                    Delivered
                </button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>